#tooltip {
    display: none;
    position: absolute;

    border: 1px solid black;
    border-radius: 2px;
    background-color: rgba(200, 200, 200, 0.75);
    padding: 5px;
}
body {
    font-family: Verdana, Geneva, sans-serif;
    background-color: #181821;
}
#sidebar{
    position: absolute;
    text-align: center;
    float: left;
    top: 10;
    left: 10;
    width: 500px;
    background-color: #e6e6e6;
    border: 0px solid black;
    border-radius: 20px;
    padding: 20 30px;

    display: none;
}
#sidebar p{
    font-size:24px;
    background-color: #cccccc;
    margin: 0 -30px;
    padding: 5px 0;
    margin-bottom: 10px;
}
#details-panel-content > div{
    padding: 5px 0;
}
#details-panel{
    margin-bottom: 10px;
}
#option-panel > div{
    padding: 5px 0;
}
.option-container{
    padding: 10px 0px;
    text-align: center;
}
#options-panel-content{
    height: 300px;
    overflow: scroll;
    overflow-x:hidden;
}
.option-container > div{
    padding: 8px;
    float: left;
}
.option-container button{
    margin: 10px 0px;
    color: #4CAF50;
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    background-color: transparent;
}
.option-container button:hover{
    color: #3e8e41;
}

.details-money, .details-infected , #end-infections, #end-time{
    font-weight: bold;
    font-size: 120%;
}

.details-money, #end-time {
    color: #3e8e41;
}

.details-infected, #end-infections {
    color: #880000;
}

.game-message {
    /*position: absolute;*/
    margin: 0 auto;
    padding: 100px;
    background-color: rgba(200, 200, 200, 0.8);
    text-align: center;

    font-size: 140%;

    border-radius: 10px;
}

.game-button {
    font-size: 150%;
    border-radius: 10px;
}

#message-container {
    margin: 0 auto;
    padding: 100px;
}

#end-message {
    display: none;
}


