#tooltip {
    display: none;
    position: absolute;

    border: 1px solid black;
    border-radius: 2px;
    background-color: rgba(200, 200, 200, 0.75);
    padding: 5px;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    background-color: #6699ff;
}

#option-panel{
    text-align: center;
    float: left;
    padding: 50px;
    border: 0px solid #bfbfbf;
    border-radius: 20px;
    background-color: #e6e6e6;
    white-space:nowrap;
    width: 200px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.option-container{
    padding: 10px 0px;
    text-align: center;
}
.option-name{
    margin: 0 -50px;
    font-size: 28px;
    /*border-top: 1px solid black;*/
    /*border-bottom: 1px solid black;*/
    background-color: #d9d9d9;
}
.option-container > div{
    padding: 8px;
}
button{
    margin: 10px 0px;
    color: #4CAF50;
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 23px;
    background-color: transparent;
}
button:hover{
    color: #3e8e41;
}
#details-panel{

    text-align: center;
    padding: 50px;
    border: 0px solid #bfbfbf;
    border-radius: 20px;
    background-color: #e6e6e6;
    white-space:nowrap;
    width: 200px;
    position: absolute;
}